<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add Recipe</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
        <h1>Add Recipe</h1>
        <form method="POST" action="/add_recipe">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required><br>
          <label for="ingredients">Ingredients (Separate with commas):</label>
          <textarea id="ingredients" name="ingredients" required></textarea><br>
          <input type="submit" value="Create recipe">
        </form>
        <a href="/" class="home-button"><button>Home Page</button></a>
      </div>      
  </body>
</html>
