<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Recipes</h1>
      <h2>Latest Recipes:</h2>
      <ul>
        {% for recipe in latest_recipes %}
          <li>
            <strong>{{ recipe.name }}</strong><br>
            Ingredients: {{ recipe.ingredients|join(', ') }}<br>
            Created at: {{ recipe.created_at }}
          </li>
        {% endfor %}
      </ul>
      <h2>Random Recipe:</h2>
      <div>
        <strong>{{ random_recipe.name }}</strong><br>
        Ingredients: {{ random_recipe.ingredients|join(', ') }}<br>
        Created at: {{ random_recipe.created_at }}
      </div>
      
      <!-- Add a button with improved styling -->
      <a href="/add_recipe"><button>Add Recipe</button></a>
    </div>       
  </body>
</html>
